
.color-muve{
    width: 100px;
    height: 100px;
    background-color: rgba(139, 95, 0, 0.649);
    margin: 50px;

    position: relative;
    animation: colorMuve 2s ease infinite alternate;
}

@keyframes colorMuve {
    0% {
      transform: translate(0, 0);
      background-color: red;
    }
    25% {
      transform: translate(50px, 0);
      background-color: blue;
    }
    50% {
      transform: translate(50px, 50px);
      background-color: green;
    }
    75% {
      transform: translate(0, 50px);
      background-color: yellow;
    }
    100% {
      transform: translate(0, 0);
      background-color: red;
    }
  }